/* Global styles */
body {
    font-family: Arial, sans-serif; /* Police similaire à Montserrat */
    color: #6A4E23; /* Marron */
    background-color: #f5f5f5; /* Fond clair */
    margin: 0;
    padding: 0;
    line-height: 1.6;
    width: 100%;
    overflow-x: hidden; /* Empêcher les barres de défilement horizontales */
}

header {
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 2.5rem;
}

p {
    width: 10cm; /* Limiter à 10 cm de largeur */
    margin: 0 auto;
    text-align: justify;
}

main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; /* Espacement même entre les sections */
    align-items: center; /* Centrer les éléments */
    margin-bottom: 40px;
}

/* Sous-titres h2 */
h2 {
    font-size: 1rem; /* Taille plus petite pour les sous-titres */
    color: #6A4E23;
    text-align: center; /* Centrer les sous-titres */
    margin: 10px 0;
}

/* Section avec les graphiques */
.chart-container {
    display: flex;
    justify-content: center;
    gap: 40px; /* Augmenter l'espace entre les graphiques */
    margin-bottom: 60px; /* Espacement en bas des graphiques */
    flex-wrap: wrap; /* Permet aux graphiques de s'adapter si nécessaire */
    width: 100%;
}

/* Ajuster la taille des graphiques */
#graph1, #graph2, #graph3 {
    width: 45%; /* Utiliser 45% de la largeur de la page */
    height: auto; /* Ajuster la hauteur en fonction de l'image */
    max-height: 700px; /* Limiter la hauteur des graphiques */
    margin: 0 auto; /* Centrer les graphiques */
}

/* Responsiveness: Ajustement des graphiques selon la taille de l'écran */
@media (max-width: 768px) {
    #graph1, #graph2, #graph3 {
        width: 100%; /* Prendre toute la largeur pour les petits écrans */
        height: auto; /* Ajuster la hauteur pour les petits écrans */
        max-height: 600px; /* Limiter la hauteur pour les petits écrans */
    }
}

footer {
    background-color: #6A4E23;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}
